<app-header></app-header>

<div class="main-layout">
    <app-vertical-menu></app-vertical-menu>

    <div class="content">

        <div class="common-wrapper">

            <div class="page-header">

                <div class="page-title mb-3">
                    <h4>Cashier Entry Approval</h4>
                    <p>Create a new cashier entry approval by providing the required details</p>
                </div>

                <span class="mandatory">
                    <span>*</span> Mandatory Fields
                </span>

            </div>

            <!-- Search Filters -->
            <div class="inward-card">

                <div class="approval-card">
                    <div class="approval-grid">

                        <div class="form-group">
                            <label>DEO</label>
                            <input type="text" class="form-control" disabled placeholder="Enter DEO">
                        </div>

                        <div class="form-group">
                            <label>Date Range</label>
                            <div class="date-input">
                                <input type="date" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Instrument Date</label>
                            <div class="date-input">
                                <input type="date" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Instrument No</label>
                            <input type="text" class="form-control" disabled placeholder="Enter Instrument No">
                        </div>

                        <div class="form-group">
                            <label>Transaction ID</label>
                            <input type="text" class="form-control" disabled placeholder="Enter Transaction ID">
                        </div>

                        <div class="form-group">
                            <label>Payment Mode</label>
                            <select class="form-select" required disabled>
                                <option value="" selected disabled>--Select--</option>
                                <option>Cheque</option>
                                <option>Cash</option>
                                <option>NEFT</option>
                            </select>
                        </div>
                    </div>
                    <div class="search-btn">
                        <button class="icon-btn" (click)="toggleSearch()">
                            <i class="fa-solid" [ngClass]="isSearchOpen ? 'fa-minus' : 'fa-plus'">
                            </i>
                        </button>
                    </div>
                </div>

                <!-- Search Area -->
                <div class="approval-grid second-grid mt-3" *ngIf="isSearchOpen">

                    <div class="form-group">

                        <label>Search Type <span>*</span></label>

                        <select class="form-select" [(ngModel)]="searchType" #search="ngModel" name="searchType"
                            required [class.error]="search.invalid && search.touched">

                            <option value="" disabled>--Select--</option>
                            <option value="All">All</option>
                            <option value="ProposalNo">Proposal No</option>
                            <option value="Transaction ID">Transaction ID</option>
                            <option value="Instrument No">Instrument No</option>

                        </select>
                        <small class="error-text" *ngIf="search.invalid && search.touched">
                            Mandatory Field
                        </small>

                    </div>

                    <div class="form-group" *ngIf="searchType === 'All'">
                        <label>From Date <span>*</span></label>
                        <div class="date-input">
                            <input type="date" class="form-control" [(ngModel)]="fromDate" name="fromDate"
                                #fdate="ngModel" required [class.error]="fdate.invalid && fdate.touched">

                            <small class="error-text" *ngIf="fdate.invalid && fdate.touched">
                                Mandatory Field
                            </small>
                        </div>

                    </div>

                    <div class="form-group" *ngIf="searchType === 'All'">
                        <label>To Date <span>*</span></label>
                        <div class="date-input">
                            <input type="date" class="form-control" [(ngModel)]="toDate" name="toDate" #tdate="ngModel"
                                required [class.error]="tdate.invalid && tdate.touched">
                            <small class="error-text" *ngIf="tdate.invalid && tdate.touched">
                                Mandatory Field
                            </small>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="searchType === 'ProposalNo'">
                        <label>Received Date <span>*</span></label>
                        <div class="date-input">
                            <input type="date" class="form-control" [(ngModel)]="toDate" name="toDate" #rdate="ngModel"
                                required [class.error]="rdate.invalid && rdate.touched">
                            <small class="error-text" *ngIf="rdate.invalid && rdate.touched">
                                Mandatory Field
                            </small>
                        </div>
                    </div>

                    <div class="submit-btn">

                        <button class="btn-submit">
                            Submit
                        </button>

                    </div>

                </div>

            </div>


            <div class="inward-card mt-3 pt-0">

                <div class="approval-details-card mt-3">

                    <div class="details-grid">

                        <!-- Column 1 -->
                        <div class="details-column">

                            <div class="detail-row">
                                <span class="label">Proposal No / Scmc ID:</span>
                                <span class="value">
                                    <span class="proposal-id">4ECA383631</span>
                                </span>
                            </div>

                            <div class="detail-row">
                                <span class="label">Cashier Type:</span>
                                <span class="value">CE</span>
                            </div>

                            <div class="detail-row">
                                <span class="label">Ch/Draft Date:</span>
                                <span class="value">06 MAR 2026</span>
                            </div>

                            <div class="detail-row">
                                <span class="label">Ch/Draft No:</span>
                                <input class="approval-details-input form-control" />
                            </div>

                            <div class="detail-row">
                                <span class="label">Ch/Draft Type:</span>
                                <span class="value">LOCAL</span>
                            </div>

                            <div class="detail-row">
                                <span class="label">Payment Mode:</span>
                                <span class="value">Cheque</span>
                            </div>

                            <div class="detail-row" style="border-bottom: none;">
                                <span class="label">Ch/Draft Amount:</span>
                                <input class="approval-details-input form-control" />
                            </div>

                        </div>

                        <!-- Column 2 -->
                        <div class="details-column">

                            <div class="detail-row">
                                <span class="label">Account Holder Name:</span>
                                <span class="value">Aakanksha</span>
                            </div>

                            <div class="detail-row">
                                <span class="label">Policy Holder Name:</span>
                                <span class="value">Aakanksha Chavan</span>
                            </div>

                            <div class="detail-row">
                                <span class="label">Bank Account Number:</span>
                                <span class="value">243568</span>
                            </div>

                            <div class="detail-row">
                                <span class="label">Reenter Bank Account Number:</span>
                                <input class="approval-details-input form-control" />
                            </div>

                            <div class="detail-row">
                                <span class="label">Reenter IFSC:</span>
                                <input class="approval-details-input form-control" />
                            </div>

                            <div class="detail-row">
                                <span class="label">OCR Verified:</span>
                                <span class="value">No</span>
                            </div>

                        </div>

                        <!-- Column 3 -->
                        <div class="details-column">

                            <div class="detail-row">
                                <span class="label">IMPS Status:</span>
                                <span class="value">F</span>
                            </div>

                            <div class="detail-row">
                                <span class="label">IMPS Status Remark:</span>

                                <span class="value">
                                    <span class="status" [ngClass]="{
                                    'status-success': impsStatus === 'Success',
                                    'status-failed': impsStatus === 'Failed',
                                    'status-pending': impsStatus === 'Pending',
                                    'status-processing': impsStatus === 'Processing',
                                    'status-warning': impsStatus === 'Warning'
                                }">
                                        {{ impsStatus }}
                                    </span>
                                </span>
                            </div>

                            <div class="detail-row">
                                <span class="label">Bank Name:</span>
                                <span class="value">STATE BANK OF INDIA</span>
                            </div>

                            <div class="detail-row">
                                <span class="label">IFSC Code:</span>
                                <span class="value">SBIN0001131</span>
                            </div>

                            <div class="detail-row">
                                <span class="label">Collection Bank Name:</span>
                                <span class="value">STATE BANK OF INDIA</span>
                            </div>

                            <div class="detail-row">
                                <span class="label">Branch Name:</span>
                                <span class="value">GHATKOPAR WEST</span>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Button -->
                <div class="btn-group mt-3">

                    <button class="btn-clear" data-bs-toggle="modal" data-bs-target="#receiptModal">
                        Reject
                    </button>
                    <button class="btn-submit" data-bs-toggle="modal" data-bs-target="#receiptModal">
                        Approve
                    </button>

                </div>

            </div>


        </div>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="receiptModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content receipt-modal">

            <div class="modal-header common-card-header border-0 pb-0 mb-0">
                <h5 class="section-title mb-0">
                    Cashier Approve/Receipt info
                </h5>
            </div>

            <div class="modal-body">
                <!-- Approved Receipt -->
                <div class="receipt-card">
                    <div class="card-header-custom">
                        <h6>Approved Receipts</h6>
                        <input type="text" class="form-control search-box" placeholder="Search">
                    </div>

                    <div class="table-responsive">
                        <div class="table-border">
                            <table class="payment-table">
                                <thead>
                                    <tr>
                                        <th>Proposal No</th>
                                        <th>Cheque Date</th>
                                        <th>Payment Received Date</th>
                                        <th>Receipt No</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="proposal-id" data-bs-toggle="modal"
                                                data-bs-target="#myReceiptModal">4ECA383631</span>
                                        </td>

                                        <td>06 Mar 2026</td>

                                        <td>2026-03-06</td>

                                        <td>HO/IP/374147</td>

                                        <td>

                                            <button class="btn-view btn-submit">
                                                View Receipt
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <!-- Rejected Receipt -->
                <div class="receipt-card mt-3">
                    <div class="card-header-custom">
                        <h6>Rejected Receipts</h6>
                        <input type="text" class="form-control search-box" placeholder="Search">
                    </div>

                    <div class="table-responsive">
                        <div class="table-border">
                            <table class="payment-table">
                                <thead>
                                    <tr>
                                        <th>Proposal No</th>
                                        <th>Cheque Date</th>
                                        <th>Payment Received Date</th>
                                        <th>Receipt No</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            No data Available in Table
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer border-0 justify-content-start">
                <button class="btn-clear" data-bs-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myReceiptModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <div class="receipt-container">
                    <!-- Company Header -->
                    <div class="company-header text-center">
                        <img src="assets/images/SBI_LIFE_logo.png" class="logo">
                        <h3>SBI LIFE INSURANCE COMPANY LTD</h3>
                        <p style="color: #6F6F6F;">
                            CORPORATE IDENTITY NO (CIN): L99999MH2000PLC129113
                        </p>
                        <p style="font-family: lato-bold;">
                            CENTRAL PROCESSING CENTER, 7th Level (D Wing), 8th Level,
                            Seawoods Grand Central, Tower II, Plot No.R1,<br />
                            Sector 40, Seawoods, Nerul Node Navi Mumbai - 400706 <br /><br />
                            PHONE NUMBER : 022 66456000
                        </p>
                        <hr>
                        <h4 class="p_header">PROPOSAL DEPOSIT RECEIPT</h4>
                        <hr>
                    </div>
                    <!-- Customer Details -->
                    <div class="row mt-4">
                        <div class="col-md-8 rm_mar_p">
                            <p>Akanksha Chavan</p>
                            <p>At post majal Taluka lanja ratnagiri</p>
                            <p>RATNAGIRI</p>
                            <p>MAHARASHTRA 416701</p>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex receipt_det_right">
                                <p>Receipt No</p>
                                <span>HOJH/734147</span>
                            </div>
                            <div class="d-flex receipt_det_right">
                                <p>Date</p>
                                <span>06 Mar 2026</span>
                            </div>
                        </div>
                    </div>
                    <!-- Component -->
                    <div class="tbl_border my-3">
                        <table class="table receipt-table">
                            <tr>
                                <th width="15%">COMPONENT</th>
                                <td>SBI Life - Smart platin Advantage Base Cover</td>
                            </tr>
                            <tr>
                                <th>UIN</th>
                                <td>111N175V01</td>
                            </tr>
                        </table>
                    </div>
                    <!-- Policy Details -->
                    <div class="tbl_border">
                        <table class="table receipt-table">
                            <tr>
                                <td>Product Name</td>
                                <td><span>SBI Life - Smart platin Advantage</span></td>
                                <td>Total Amount Paid</td>
                                <td><span>Rs.90000</span></td>
                            </tr>
                            <tr>
                                <td>Proposal Number</td>
                                <td><span>4ECA383631</span></td>
                                <td>Frequency</td>
                                <td><span>Yearly</span></td>
                            </tr>
                            <tr>
                                <td>Risk Date</td>
                                <td><span>-</span></td>
                                <td>IA / CIF / Others Name</td>
                                <td><span>PRAVINKUMAR TRIBHUVANDAS BAJA</span></td>
                            </tr>
                            <tr>
                                <td>Term</td>
                                <td><span></span>7 Year</td>
                                <td>Channel Code</td>
                                <td><span>90680</span></td>
                            </tr>
                            <tr>
                                <td>Sum Assured</td>
                                <td><span>-</span></td>
                                <td>Payment Type</td>
                                <td><span>Initial</span></td>
                            </tr>
                        </table>
                    </div>
                    <!-- Receipt Text -->
                    <p class="mt-3 rec_text">
                        Received with thanks
                        <span style="font-family: lato-bold;">Rs.90000.00/- (Rupees Ninety Thousand Only)</span>
                        by way of cheque no: 465768 dated 06 March
                        BANK OF INDIA
                    </p>
                    <!-- Signature -->
                    <div class="row mt-3">
                        <p class="m-0">Signature:</p>
                        <div class="col-md-6 d-flex sign_left">
                            <label>Cashier Name:</label>
                            <input type="text" class="form-control" value="roopa achran">
                        </div>
                        <div class="col-md-6 d-flex sign_left">
                            <label>Date:</label>
                            <input type="text" class="form-control" value="06 Mar 2026">
                        </div>
                    </div>
                    <hr>
                    <!-- Notes -->
                    <div class="notes mt-4">
                        <h6>Note:</h6>
                        <ul>
                            <li>The validity of this Receipt is subject to realization of cheque/draft.</li>
                            <li>Insurance cover would commence only on acceptance of risk by SBI Life and
                                issue of the policy contract by SBI Life from the date indicated therein.
                                Premium paid under this policy is eligible for tax rebate under Sec 80 C/
                                Sec 80 CCC of the Income Tax Act, as applicable.
                            </li>
                            <li>TDS shall be deducted from the benefit proceeds (i.e. maturity, surrender etc),
                                as applicable, which are considered as taxable under the Income Tax Laws. The
                                amount held in proposal deposit does not earn any interest.
                            </li>
                            <li>No interest is payable on amount held in proposal deposit or on excess payments,
                                if any, made by the policyholder.
                            </li>
                            <li>Goods & Service Tax (GST)/ Cess and/or any other statutory levy dutyl surcharge,
                                at the rate notified by the Central Government/State Government/Union Territories
                                of India from time to time, shall be levied on premium / charges (as applicable)
                                as per the provisions of the prevalent tax laws.
                            </li>
                            <li>Tax laws are subject to change from time to time.
                                Please consult your tax advisor for further details
                            </li>
                        </ul>
                    </div>
                    <div class="bottom_toll">
                        <p>In case of any doubt or clarification, please call our toll free number: 1800 267 9090</p>
                    </div>
                    <div class="text-center mt-4 receipt_btn_div">
                        <button class="btn-clear">
                            Print
                        </button>
                        <button class="btn-submit">
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>