<div class="page-title mb-3">
    <h4>Cashier Entry</h4>
    <p>Create a new cashier entry by providing the required details</p>
</div>

<div class="inward-card">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-3">
                <label class="form-label custom-label">Cashier Entry</label>
                <select class="form-select custom-select" 
                    (change)="onCategoryChange($event)">
                    <option value="" disabled selected>Select</option>
                    <!-- <option value="Individual">Individual</option>  
                    <option value="Sahara">Sahara</option>
                    <option value="SCMC & Other Cashiering"> SCMC & Other Cashiering </option> -->
                    <option value="intial">Initial</option>
                    <option value="renewal">Renewal</option>
                    <option value="group">Group</option>
                    <option value="loanRepayment">Loan Repayment</option>
                    <option value="pa-cashier-entry">PA Cashier Entry</option>
                </select>
            </div>
            @if (subOptions.length > 0) {
            <div class="col-md-3">
                <label class="form-label custom-label">Type</label>

                <select class="form-select custom-select" 
                    (change)="onSubCategoryChange($event)">

                    <option value="">Select</option>

                    @for (item of subOptions; track item) {
                    <option [value]="item.value">
                        {{ item.label }}
                    </option>
                    }

                </select>
            </div>
            }

        </div>

    </div>

</div>

<router-outlet></router-outlet>

<!-- <app-scmcentry *ngIf="selectedSubOption === 'SCMC Entry'"></app-scmcentry>

<app-pacashierentry *ngIf="selectedSubOption === 'PA Cashier Entry'"></app-pacashierentry> -->