.approval {
    background: #fff;
    border-radius: 14px;
    padding: 20px 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .06);
    border: 1px solid #E7EBF1;
}

.approval h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #1F1C2F;
    font-family: 'lato-bold';
}

.table {
    margin: 0;
   
}

.table th {
    color: #0D183E;
    font-size: 14px;
    font-family: 'lato-bold';
}

.table>:not(:first-child) {
    border-top: none;
}

.table tbody tr:first-child {
    border-top: 1px solid #D5DBE6;
}

.table tbody tr:last-child {
    border-bottom: 1px solid #D5DBE6;
}

.table .transaction-no {
    color: #2A286A;
}

.table td {
    vertical-align: middle;
    color: #6A7FB1;
    font-size: 13px;
    border-bottom: none;
}

.status {
    background: #FFF2E9;
    color: #F47721;
    padding: 5px 14px;
    border-radius: 6px;
    font-size: 13px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.pagination button {
    width: 24px;
    height: 24px;
    border: 1px solid #D5DBE6;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #475569;
    font-family: 'lato-bold';
}

.pagination button:hover {
    background: #EDF3FF;
}

.pagination button.active {
    background: #DCEBFF;
    color: #0B6BFE;
    border-color: #0B6BFE;
}

.pagination button:disabled {
    opacity: .8;
    cursor: not-allowed;
}