<div class="sidebar" [class.collapsed]="collapsed">

    <ul class="menu">

        <!-- Menu -->
        <li class="menu-item active" routerLink="/layout/dashboard">
            <div class="menu-title">
                <div class="left">
                    <i class="fa-solid fa-house"></i>
                    <span>Dashboard</span>
                </div>
            </div>
        </li>

        <!-- Inward -->
        <!-- <li class="menu-item">
            <div class="menu-title" (click)="toggle('inward')">
                <div class="left">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Inward</span>
                </div>

                @if (!collapsed) {
                <i class="fa-solid" [ngClass]="isOpen('inward') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            @if (isOpen('inward')) {
            <ul class="submenu">
                <li>
                    <div class="submenu-title" routerLink="/layout/inward/new-business">
                        <span>New Business / Renewal</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/inward/renewal">
                        <span>Renewal</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/inward/correct-awb-number">
                        <span>Correct AWB Number</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/inward/track-edit">
                        <span>Track/Edit</span>
                    </div>
                </li>

            </ul>
            }
        </li> -->

        <!-- Inward -->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/inward">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Inward</span>
                </div>
            </div>
        </li>

        <!--Outward-->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/outward">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Outward</span>
                </div>
            </div>
        </li>

        <!-- Cashiering -->
        <li class="menu-item">
            <div class="menu-title" (click)="toggle('cashier')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>Cashiering</span>
                    }
                </div>

                @if(!collapsed){
                <i class="fa-solid" [ngClass]="isOpen('cashier') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            <!-- Summenu -->
            @if(isOpen('cashier')){
            <ul class="submenu">
                <li>
                    <div class="submenu-title" routerLink="/layout/cashier/cashier-entry">
                        <span>Cashier Entry</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/cashier/bulk-upload">
                        <span>Bulk Upload</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/cashier/reports">
                        <span>Reports</span>
                    </div>
                </li>
            </ul>
            }
        </li>

        <!-- Approval -->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/approval">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Approval</span>
                </div>
            </div>
        </li>

        <!-- EOD Collection -->
        <li class="menu-item">
            <div class="menu-title" (click)="toggle('eod')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>EOD Collection</span>
                    }
                </div>

                @if(!collapsed){
                <i class="fa-solid" [ngClass]="isOpen('eod') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            <!-- Summenu -->
            @if(isOpen('eod')){
            <ul class="submenu">
                <li>
                    <div class="submenu-title" routerLink="/layout/eod/collection-bank">
                        <span>Collection Bank</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/eod/daily-cash-book">
                        <span>Daily Cash Book</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/eod/pending-instrument-report">
                        <span>Pending Instrument Report</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/eod/mark-unmark-non-lodgement">
                        <span>Mark/UnMark Non Lodgement</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/eod/sahara-policy-update">
                        <span>Sahara Policy Update</span>
                    </div>
                </li>
            </ul>
            }
        </li>

        <!-- CDA -->
        <li class="menu-item">
            <div class="menu-title" (click)="toggle('cda')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>CDA</span>
                    }
                </div>

                @if(!collapsed){
                <i class="fa-solid" [ngClass]="isOpen('cda') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            <!-- Summenu -->
            @if(isOpen('cda')){
            <ul class="submenu">
                <li>
                    <div class="submenu-title" routerLink="/layout/cda/individual">
                        <span>Individual</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/cda/group">
                        <span>Group</span>
                    </div>
                </li>
            </ul>
            }
        </li>



        <!-- Group validation/Billing -->
        <li class="menu-item">
            <div class="menu-title" (click)="toggle('groupValidationBiiling')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>Group Validation/Biiling</span>
                    }
                </div>

                @if(!collapsed){
                <i class="fa-solid" [ngClass]="isOpen('groupValidationBiiling') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            <!-- Summenu -->
            @if(isOpen('groupValidationBiiling')){
            <ul class="submenu">
                <li>
                    <div class="submenu-title" routerLink="/layout/group-validation-billing/add-remove">
                        <span>Add/Remove</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/group-validation-billing/billing">
                        <span>Billing</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/group-validation-billing/ifsc-upload">
                        <span>IFSC Upload </span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/group-validation-billing/update-lan-suraksha">
                        <span>Update LAN & Suraksha Details</span>
                    </div>
                </li>
            </ul>
            }
        </li>


        <!-- Group Approval -->
        <li class="menu-item">
            <div class="menu-title" (click)="toggle('groupApproval')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>Group Approval</span>
                    }
                </div>

                @if(!collapsed){
                <i class="fa-solid" [ngClass]="isOpen('groupApproval') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            <!-- Summenu -->
            @if(isOpen('groupApproval')){
            <ul class="submenu">
                <li>
                    <div class="submenu-title" routerLink="/layout/group-approval/approve-cashier-entry">
                        <span>Approve Cashier Entry </span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/group-approval/realise-cheque">
                        <span>Realise Cheque </span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/group-approval/cancel-money-admin">
                        <span>Cancel Money Admin </span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/group-approval/approve-cashieiring-of-feed-not-received">
                        <span>Approve Cashieiring of Feed not received </span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/group-approval/rin-raksha-cancel-money-admin">
                        <span>Rin Raksha Cancel Money Admin </span>
                    </div>
                </li>
            </ul>
            }
        </li>


        <!-- Fund Transfer -->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/fund-transfer">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Fund Transfer</span>
                </div>
            </div>
        </li>

        <!-- Policy Servicing -->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/policy-servicing">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Policy Servicing</span>
                </div>
            </div>
        </li>

        <!-- PIWC Details -->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/piwc-details">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>PIWC Details</span>
                </div>
            </div>
        </li>

     
    </ul>


    <ul class="menu p-0">
        <li class="menu-item">
            <div class="menu-title">
                <div class="left">
                    <i class="fa-solid fa-right-from-bracket"></i>

                    @if (!collapsed) {
                    <span>Logout</span>
                    }
                </div>
            </div>
        </li>
    </ul>

    <div class="collapse-btn" [class.collapsed]="collapsed" (click)="toggleSidebar()">
        <i class="fa-solid" [class.fa-chevron-left]="!collapsed" [class.fa-chevron-right]="collapsed">
        </i>
    </div>
</div>