<div class="sidebar" [class.collapsed]="collapsed">

    <ul class="menu">

        <!-- Menu -->
        <li class="menu-item active" routerLink="/layout/dashboard">
            <div class="menu-title">
                <div class="left">
                    <i class="fa-solid fa-house"></i>
                    <span>Dashboard</span>
                </div>
            </div>
        </li>

        <!-- Inward -->
        <!-- <li class="menu-item">
            <div class="menu-title" (click)="toggle('inward')">
                <div class="left">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Inward</span>
                </div>

                @if (!collapsed) {
                <i class="fa-solid" [ngClass]="isOpen('inward') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            @if (isOpen('inward')) {
            <ul class="submenu">
                <li>
                    <div class="submenu-title" routerLink="/layout/inward/new-business">
                        <span>New Business / Renewal</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/inward/renewal">
                        <span>Renewal</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/inward/correct-awb-number">
                        <span>Correct AWB Number</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/inward/track-edit">
                        <span>Track/Edit</span>
                    </div>
                </li>

            </ul>
            }
        </li> -->

        <!-- Inward -->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/inward">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Inward</span>
                </div>
            </div>
        </li>

        <!--Outward-->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/outward">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Outward</span>
                </div>
            </div>
        </li>

        <!-- Cashiering -->
        <li class="menu-item">
            <div class="menu-title" (click)="toggle('cashier')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>Cashiering</span>
                    }
                </div>

                @if(!collapsed){
                <i class="fa-solid" [ngClass]="isOpen('cashier') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            <!-- Summenu -->
            @if(isOpen('cashier')){
            <ul class="submenu">
                <li>
                    <div class="submenu-title" routerLink="/layout/cashier/cashier-entry">
                        <span>Cashier Entry</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/cashier/bulk-upload">
                        <span>Bulk Upload</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/cashier/reports">
                        <span>Reports</span>
                    </div>
                </li>
            </ul>
            }
        </li>

        <!-- Approval -->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/approval">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Approval</span>
                </div>
            </div>
        </li>

        <!-- EOD Collection -->
        <li class="menu-item">
            <div class="menu-title" (click)="toggle('eod')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>EOD Collection</span>
                    }
                </div>

                @if(!collapsed){
                <i class="fa-solid" [ngClass]="isOpen('eod') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            <!-- Summenu -->
            @if(isOpen('eod')){
            <ul class="submenu">
                <li>
                    <div class="submenu-title" routerLink="/layout/eod/collection-bank">
                        <span>Collection Bank</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/eod/daily-cash-book">
                        <span>Daily Cash Book</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/eod/pending-instrument-report">
                        <span>Pending Instrument Report</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/eod/mark-unmark-non-lodgement">
                        <span>Mark/UnMark Non Lodgement</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/eod/sahara-policy-update">
                        <span>Sahara Policy Update</span>
                    </div>
                </li>
            </ul>
            }
        </li>

        <!-- CDA -->
        <li class="menu-item">
            <div class="menu-title" (click)="toggle('cda')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>CDA</span>
                    }
                </div>

                @if(!collapsed){
                <i class="fa-solid" [ngClass]="isOpen('cda') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            <!-- Summenu -->
            @if(isOpen('cda')){
            <ul class="submenu">
                <li>
                    <div class="submenu-title" routerLink="/layout/cda/individual">
                        <span>Individual</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title" routerLink="/layout/cda/group">
                        <span>Group</span>
                    </div>
                </li>
            </ul>
            }
        </li>

        <!-- Fund Transfer -->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/fund-transfer">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Fund Transfer</span>
                </div>
            </div>
        </li>

        <!-- Policy Servicing -->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/policy-servicing">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>Policy Servicing</span>
                </div>
            </div>
        </li>

        <!-- PIWC Details -->
        <li class="menu-item">
            <div class="menu-title">
                <div class="left" routerLink="/layout/piwc-details">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    <span>PIWC Details</span>
                </div>
            </div>
        </li>

        <!-- ------------------------------------------------------------------------ -->

        <!-- BOS -->
        <!-- <li class="menu-item">
            <div class="menu-title" (click)="toggle('BOS')">
                <div class="left">
                    <i class="fa-solid fa-table-cells-large"></i>
                    @if (!collapsed) {<span>BOS</span>}
                </div>
                @if (!collapsed) {<i class="fa-solid" [ngClass]="isOpen('BOS') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>}

            </div>

            @if(isOpen('BOS')){
            <ul class="submenu">

                
                <li class="not-hover">
                    <div class="submenu-title" (click)="toggleSub('cashireentry')">
                        @if(!collapsed){<span>Cashire Entry</span>}
                        <i class="fa-solid" [ngClass]="isSubOpen('cashireentry') ? 'fa-angle-up' : 'fa-angle-down'">
                        </i>
                    </div>
                </li>

                
                @if(isSubOpen('cashireentry')){
                <ul class="inner-submenu">
                    <li>Select Collection Bank</li>
                    <li>Pending Instrument Report</li>
                    <li>Mark/Unmark Non Lodgment</li>
                    <li>Cash Deposit Slip</li>
                    <li>View CE</li>
                    <li>Descriptive Rating Sheet</li>
                </ul>
                }

                <li class="not-hover">
                    <div class="submenu-title" (click)="toggleSub('dailycashbook')">
                        @if(!collapsed){ <span>Daily Cash Book</span>}
                        <i class="fa-solid" [ngClass]="isSubOpen('dailycashbook') ? 'fa-angle-up' : 'fa-angle-down'">
                        </i>
                    </div>
                </li>

               
                @if(isSubOpen('dailycashbook')){
                <ul class="inner-submenu">
                    <li>Capture/Modify DCB</li>
                    <li>View DCB</li>
                </ul>
                }

                <li>
                    <div class="submenu-title">
                        <span>Fund Transfer</span>
                    </div>
                </li>
            </ul>
            }



        </li> -->


        <!-- Loan Repayment -->
        <!-- <li class="menu-item">
            <div class="menu-title" (click)="toggle('loanRepayment')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>Loan Repayment</span>
                    }
                </div>
                @if (!collapsed) {
                <i class="fa-solid" [ngClass]="isOpen('loanRepayment') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            @if (isOpen('loanRepayment')) {
            <ul class="submenu">


                <li class="not-hover">
                    <div class="submenu-title" (click)="toggleSub('savingscheme')">

                        @if (!collapsed) {
                        <span>Salary Saving Scheme</span>
                        }

                        <i class="fa-solid" [ngClass]="isSubOpen('savingscheme') ? 'fa-angle-up' : 'fa-angle-down'">
                        </i>
                    </div>
                </li>

                @if (isSubOpen('savingscheme')) {
                <ul class="inner-submenu">
                    <li>Payment Authority Registration</li>
                </ul>
                }
            </ul>

            }


        </li> -->


        <!-- <li class="menu-item">
            <div class="menu-title" (click)="toggle('policyServicng')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>Policy Servising</span>
                    }
                </div>
                @if (!collapsed) {
                <i class="fa-solid" [ngClass]="isOpen('policyServicng') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            @if (isOpen('policyServicng')) {
            <ul class="submenu">
                <li>
                    <div class="submenu-title">
                        <span>View PIWC</span>
                    </div>
                </li>
            </ul>

            }


        </li>

        <li class="menu-item">
            <div class="menu-title" (click)="toggle('piwcDetails')">
                <div class="left">
                    <i class="fa-regular fa-user"></i>
                    @if(!collapsed){
                    <span>PIWC Details</span>
                    }
                </div>
                @if (!collapsed) {
                <i class="fa-solid" [ngClass]="isOpen('piwcDetails') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            @if (isOpen('piwcDetails')) {
            <ul class="submenu">
                <li>
                    <div class="submenu-title">
                        <span>View PIWC</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title">
                        <span>Upload PIWC</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title">
                        <span>PIWC Entraction</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title">
                        <span>Approval Collection Bank</span>
                    </div>
                </li>
            </ul>

            }


        </li> -->

        <!-- Admin -->
        <!-- <li class="menu-item">
            <div class="menu-title" (click)="toggle('admin')">
                <div class="left">
                    <i class="fa-solid fa-gear"></i>

                    @if (!collapsed) {
                    <span>Admin</span>
                    }
                </div>

                @if (!collapsed) {
                <i class="fa-solid" [ngClass]="isOpen('admin') ? 'fa-angle-up' : 'fa-angle-down'">
                </i>
                }
            </div>

            @if (isOpen('admin')) {
            <ul class="submenu">
                <li>
                    <div class="submenu-title">
                        <span>Approval DCB</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title">
                        <span>Approval Fund Transfer</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title">
                        <span>Add Collection Bank</span>
                    </div>
                </li>
                <li>
                    <div class="submenu-title">
                        <span>Deactivate Collection Bank</span>
                    </div>
                </li>
            </ul>
            }
        </li> -->
    </ul>


    <ul class="menu p-0">
        <li class="menu-item">
            <div class="menu-title">
                <div class="left">
                    <i class="fa-solid fa-right-from-bracket"></i>

                    @if (!collapsed) {
                    <span>Logout</span>
                    }
                </div>
            </div>
        </li>
    </ul>

    <div class="collapse-btn" [class.collapsed]="collapsed" (click)="toggleSidebar()">
        <i class="fa-solid" [class.fa-chevron-left]="!collapsed" [class.fa-chevron-right]="collapsed">
        </i>
    </div>
</div>