/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: lato;
    src: url(./assets/font/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(./assets/font/Lato-Bold.ttf);
}

body {
    font-family: 'Lato', sans-serif;
}

.main-layout {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 60px);
    background: #f9fbfe;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.common-wrapper {
    width: 100%;
}

.page-title h4 {
    font-size: 20px;
    color: #0B134F;
    margin-bottom: 0px;
    font-family: 'lato-bold';
}

.page-title p {
    font-size: 14px;
    color: #8B94B2;
    margin: 0;
}

.inward-card {
    border: 1px solid #E9ECF2;
    border-radius: 14px;
    padding: 16px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .06);
}

.common-card-header {
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 12px;
}

.common-card-header .section-title {
    font-size: 16px;
    font-family: 'lato-bold';
    margin-bottom: 12px;
    background: linear-gradient(90deg, #D60D47 0%, #280071 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}

.courier-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 13px;
    color: #0B1844;
    margin-bottom: 4px;
    font-family: 'lato-bold';
}

.form-group label span {
    color: #EE2D37;
    font-size: 12px;
}

.form-control,
.form-select {
    height: 44px;
    border-radius: 10px;
    border: 1px solid #E0E3EC;
    background: #FCFCFC;
    font-size: 13px;
    box-shadow: none;
    transition: .25s;
    padding: 8px 10px;
}

.form-select {
    color: #8089B1;
    font-family: 'lato';
}

.form-select:valid {
    color: #111C4D;
}

.form-control::placeholder {
    color: #8089B1;
    font-family: 'lato';
}

.form-control {
    color: #111C4D;
}

.form-control:focus,
.form-select:focus {
    border-color: #0B134F;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .06);
}

/* Error Border */
.form-control.error,
.form-select.error {
    border: 1px solid #EE2D37;
}

/* Error Text */
.error-text {
    display: block;
    margin-top: 2px;
    font-size: 12px;
    color: #EE2D37;
    font-family: 'lato';
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f0f8ff;
    opacity: 0.8;
    border: none;
}

.form-select:disabled, .form-select[readonly] {
    background-color: #f0f8ff;
    opacity: 0.8;
    border: none;
}

/*  */
.custom-accordion {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.accordion-item {
    border: 1px solid #E9ECF2;
    border-radius: 14px !important;
    padding: 16px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .06);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-header h5 {
    margin: 0;
    font-size: 16px;
    font-family: 'lato-bold';
    background: linear-gradient(90deg, #D60D47, #280071);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.accordion-header p {
    margin: 0;
    font-size: 14px;
    color: #808AA4;
}

.accordion-header i {
    font-size: 16px;
    color: #2A286A;
    transition: .3s;
}

.accordion-body {
    border-top: 1px solid #DFDFDF;
    padding: 12px 0 0;
    animation: slide .25s ease;
    margin-top: 12px;
}

@keyframes slide {

    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.button-group {
    display: flex;
    align-items: flex-start;
    padding-top: 27px;
}

.btn-add {
    font-size: 14px;
    height: 38px;
    min-width: 80px;
    border-radius: 12px;
    background: #E4E6EF;
    color: #2D2B7C;
    transition: .3s;
    font-family: 'lato-bold';
    border: 1px solid #2A286B;
}

.btn-add:hover {
    background: #2A286B;
    color: #fff;
}

.table-border {
    border: 1px solid #E1E0F2;
    border-radius: 10px;
}

.payment-table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
}

.payment-table thead {
    background: #F1F4FA;
}

.payment-table th {
    padding: 10px 14px;
    text-align: left;
    font-size: 13px;
    color: #2A286B;
    font-family: 'lato-bold';
    border-right: 1px solid #EBEBEB;
}

.payment-table td {
    padding: 8px 14px;
    border-top: 1px solid #EBEBEB;
    font-size: 13px;
    color: #000000;
    border-right: 1px solid #EBEBEB;
}

.payment-table th:last-child,
.payment-table td:last-child {
    border-right: 0;
}

.delete-btn {
    width: 32px;
    height: 32px;
    border: 1px solid #FF2F2F;
    background: #FFEEEE;
    color: #FF2F2F;
    border-radius: 8px;
}

.delete-btn:hover {
    background: #FF2F2F;
    color: #fff;
}

.edit-link {
    color: #FF2F2F;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 4px;
    line-height: 11px;
}

select {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none;
    background-image: url('/assets/images/select-arrow.png') !important;
    background-repeat: no-repeat !important;
    background-position: top 19px right 10px !important;
    background-size: 10px !important;
}

.date-input{
    position: relative;
}

.date-input::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    background: url('/assets/images/calendar-icon.png') no-repeat center;
    background-size: 18px;
    pointer-events: none;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Button */
.btn-group{
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-submit{
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #D60D47 0%, #280071 100%);
    color: #fff;
    font-family: 'lato';
    cursor: pointer;
    width: 95px;
}

.btn-submit:hover{
    background: #280071;
}

.btn-clear{
    height: 40px;
    padding: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    background: #E4E6EF;
    color: #2A286B;
    transition: 0.3s;
    border: 1px solid #2A286B;
    font-family: 'lato';
    cursor: pointer;
    width: 95px; margin: 0 .25rem;
}

.btn-clear:hover{
    background: #FFEEEE;
    color: #FF2F2F;
    border-color: #FF2F2F;
}
.search-box{
    padding-right:40px;
    background-image:url('/assets/images/search.png');
    background-repeat:no-repeat;
     background-position: right 12px center;
    background-size:12px;
}
.instrument_header{
    border-bottom: 1px solid #DFDFDF;
}
.instrument_header{
    border-bottom: 1px solid #DFDFDF;
}
.instrument_header p{
    display: inline-block;
    margin: 0;
    padding-bottom: 10px;
}
.modal_heading_span{
    background: linear-gradient(45deg, rgba(228, 41, 84, 1) 0%, rgba(40, 0, 112, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'lato-bold';
}